nav {
    color: rgb(205, 64, 111);
    background-color: rgb(226, 120, 82)
}
nav>ul {
    display: flex;
    align-items: center;
    gap: 500px;
}
#kk {
    color: coral;
    text-align: center;
}
* {
    background-color: rgb(11, 90, 43);
}
#y {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#x {
    gap: 200px;
    display: flex;
}
img {
    width: 500px;
    height: 300px;
    border-radius: 50px;
}
#j {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(191, 153, 226);
}
#j {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: rgb(174, 129, 215);
}
.a {
    display: flex;
    gap: 200px;
}
#c {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: darkolivegreen;
    text-align: center;
}
.r1 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkkhaki;
    text-align: center;
}
.z {
    display: flex;
    gap: 20px;
}
.r2 {
    width: 50%;
    padding: 20px;
    border: 5px;
    margin: 20px;
    background-color: rgb(122, 115, 76);
    
}
.d {
    width: 200px;
    height: 100px;
    border-radius: 20px;
}
.a {
    max-width: 100%;
}
label {
    display: block;
}
button:hover {
    color: aqua;
}
@media (
    max-width: 1000px) {
        body {
            background-color: bisque;
        }
    }