nav {
    color: rgb(100, 146, 146);
    background-color: rgb(185, 136, 136);
    display: flex;
    align-items: center;
}
#kk {
    color: rgb(158, 115, 64);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
}
#t1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.y {
    background-color:plum
}
.y ul {
    list-style-type: none;
}
img {
    border-radius: 50px;
    width: 350px;
    height: 200px;
}
.x {
    display: flex;
    align-items:center;
    padding-bottom: 5px;padding-top: 5px;
    padding-left: 10px;padding-right: 10px;
    border: 10px;color: rgb(169, 62, 62);
    margin-top: 20px;margin-bottom: 20px;
    margin-left: 10px;margin-right: 10px;
}
.t2 {
    font-size: 30px;
    color: powderblue;
}
#k2 {
    background-color: cadetblue;
}
#k1 {
    color:rgb(150, 119, 81) ;
    display: flex;
    text-align: center;
}
label {
    display: block;
    border-radius: 20px;
    background-color: antiquewhite;
}
button:hover {
    color: burlywood;
}
div>p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.m {
    font-size: 20px;
}
@media {
    max-width: 1000px;
    min-width: 300px;
}